<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>LWC Playground</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.23.0/styles/salesforce-lightning-design-system.min.css"
      integrity="sha512-2Vn0vi6HlvWvqoH5wV0/aZuL8pKvbYEAONW6hTCTLBlfbQGuM2Vjz8n0vp+5HifxHNYksxI+/0or8eACPpQnvA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {{{body}}} {{{lwr_resources}}}
  </body>
</html>
